In [1]:
import pandas as pd
import numpy as np

## Incomplete A_bdnn files

Conclusion: mcmc files that time out do so asymmetrically: the mcmc, sp_rates, ex_rates, and per_species_rates logs all have different numbers of samples at the time of timeout

In [5]:
a_bdnn_rep_4 = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/reptilia_pyrate_4_G_BDS_BDNN_4_2Tc_mcmc.log", sep="\t", header=0)
a_bdnn_rep_4.describe()

,it,posterior,prior,PP_lik,BD_lik,q_0,q_1,q_2,q_3,q_4,...,Yelaphomte_TE,Yimenosaurus_TE,Youngetta_TE,Youngina_TE,Youngosuchus_TE,Yunguisaurus_TE,Yunnanosaurus_TE,Zanclodon_TE,Zhongjiania_TE,Zupaysaurus_TE
count,9.693000e+03,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,...,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000
mean,4.846000e+07,-16921.714012,-2200.535270,-10616.733448,-4104.445295,0.686177,5.215353,0.878803,1.310975,2.430629,...,49.783495,24.385640,75.266885,76.284624,71.585801,61.359895,25.673319,27.263383,79.307226,47.777007
std,2.798272e+07,83.369567,13.142674,48.843440,51.939738,0.228424,0.360970,0.180667,0.344515,0.341176,...,0.958016,0.335684,0.375294,1.305898,0.457496,1.538418,0.513775,1.631867,0.562239,0.868704
min,0.000000e+00,-21792.450507,-2237.064142,-11981.405312,-7738.214920,0.188454,0.370792,0.370792,0.370792,0.370792,...,41.472211,21.107097,71.768193,64.341286,67.302719,51.900640,19.556576,18.030161,72.220950,41.919526
25%,2.423000e+07,-16957.780476,-2208.012767,-10646.210464,-4113.972388,0.530206,4.977896,0.740142,1.067608,2.196133,...,49.550209,24.262202,75.162315,75.811032,71.471557,60.736297,25.542419,26.445395,79.150294,47.498972
50%,4.846000e+07,-16918.003652,-2201.152604,-10615.929466,-4100.129786,0.652367,5.216158,0.873919,1.280274,2.406863,...,50.123677,24.490054,75.398168,76.715512,71.750083,61.915054,25.843795,27.706333,79.465298,48.089558
75%,7.269000e+07,-16878.386231,-2194.579236,-10585.247380,-4087.214055,0.805875,5.450380,1.009955,1.522991,2.637751,...,50.384068,24.621657,75.512523,77.184692,71.879284,62.487983,25.994106,28.546175,79.651815,48.374086
max,9.692000e+07,-16724.404910,-2072.830274,-10398.689248,-4028.669482,2.638998,6.729365,1.651070,4.113144,5.166731,...,50.522489,24.713129,75.567580,77.436463,71.936261,62.766438,26.106801,29.142904,79.791650,48.512072

In [15]:
a_bdnn_rep_4_sp_rates = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/reptilia_pyrate_4_G_BDS_BDNN_4_2Tc_sp_rates.log", sep="\t", header=0)
a_bdnn_rep_4_sp_rates.describe()

,0.7021791291715602,0.702179124256164,0.7021791187087707,0.7021791131613488,0.7021791076138986,0.7021791020664202,0.7021790965189137,0.7021790909713798,0.7021790854238181,0.7021790798762295,...,10,9,8,7,6,5,4,3,2,1
count,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,9693.000000,...,9693.0,9693.0,9693.0,9693.0,9693.0,9693.0,9693.0,9693.0,9693.0,9693.0
mean,0.322846,0.323297,0.323810,0.324328,0.324850,0.325376,0.325904,0.326433,0.326962,0.327491,...,10.0,9.0,8.0,7.0,6.0,5.0,4.0,3.0,2.0,1.0
std,0.047138,0.046647,0.046081,0.045504,0.044915,0.044314,0.043702,0.043078,0.042442,0.041795,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.134854,0.134855,0.134857,0.134859,0.134861,0.134864,0.134866,0.134868,0.134870,0.134873,...,10.0,9.0,8.0,7.0,6.0,5.0,4.0,3.0,2.0,1.0
25%,0.290628,0.291371,0.292275,0.293205,0.294078,0.295115,0.296074,0.297110,0.298044,0.299029,...,10.0,9.0,8.0,7.0,6.0,5.0,4.0,3.0,2.0,1.0
50%,0.324802,0.325192,0.325588,0.326045,0.326593,0.327092,0.327469,0.327883,0.328423,0.328864,...,10.0,9.0,8.0,7.0,6.0,5.0,4.0,3.0,2.0,1.0
75%,0.355585,0.355630,0.355694,0.355777,0.355888,0.355909,0.356027,0.356080,0.356219,0.356194,...,10.0,9.0,8.0,7.0,6.0,5.0,4.0,3.0,2.0,1.0
max,0.515050,0.513531,0.511751,0.509897,0.507968,0.505959,0.503868,0.501690,0.499423,0.497063,...,10.0,9.0,8.0,7.0,6.0,5.0,4.0,3.0,2.0,1.0

In [16]:
a_bdnn_rep_4_sp_rates.head()

,0.7021791291715602,0.702179124256164,0.7021791187087707,0.7021791131613488,0.7021791076138986,0.7021791020664202,0.7021790965189137,0.7021790909713798,0.7021790854238181,0.7021790798762295,...,10,9,8,7,6,5,4,3,2,1
0,0.141480,0.141485,0.141491,0.141497,0.141503,0.141509,0.141515,0.141522,0.141528,0.141534,...,10,9,8,7,6,5,4,3,2,1
1,0.139298,0.139337,0.139380,0.139424,0.139468,0.139512,0.139556,0.139600,0.139645,0.139690,...,10,9,8,7,6,5,4,3,2,1
2,0.148296,0.148297,0.148297,0.148298,0.148299,0.148299,0.148300,0.148301,0.148301,0.148302,...,10,9,8,7,6,5,4,3,2,1
3,0.148448,0.148449,0.148451,0.148452,0.148453,0.148455,0.148456,0.148458,0.148459,0.148460,...,10,9,8,7,6,5,4,3,2,1
4,0.140448,0.140450,0.140452,0.140455,0.140457,0.140459,0.140462,0.140464,0.140467,0.140469,...,10,9,8,7,6,5,4,3,2,1

In [17]:
a_bdnn_rep_4.shape, a_bdnn_rep_4_sp_rates.shape

((9693, 1576), (9693, 247))

In [27]:
a_bdnn_rep_4_ex_rates = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/reptilia_pyrate_4_G_BDS_BDNN_4_2Tc_ex_rates.log", sep="\t", header=0)
a_bdnn_rep_4_per_species_rates = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/reptilia_pyrate_4_G_BDS_BDNN_4_2Tc_per_species_rates.log", sep="\t", header=0)
a_bdnn_rep_4_ex_rates.shape, a_bdnn_rep_4_per_species_rates.shape

((9691, 247), (9694, 1521))

## Fully completed MCMC logs

seeing what size/shape they are, so I know what size/shape the concatenated ones should end up being.

Conclusion: mcmc logs and per_species_rates logs have 10k rows (samples), and sp_rates and ex_rates logs have 9,999 rows (samples)

In [24]:
# A fully completed A_bdnn
a_bdnn_tem_1 = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/temnospondyli/mcmc_no_predictors/A_bdnn_update/temnospondyli_pyrate_1_A_update_G_BDS_BDNN_4_2Tc_mcmc.log", sep="\t", header=0)
a_bdnn_tem_1_sp_rates = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/temnospondyli/mcmc_no_predictors/A_bdnn_update/temnospondyli_pyrate_1_A_update_G_BDS_BDNN_4_2Tc_sp_rates.log", sep="\t", header=0)
a_bdnn_tem_1_ex_rates = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/temnospondyli/mcmc_no_predictors/A_bdnn_update/temnospondyli_pyrate_1_A_update_G_BDS_BDNN_4_2Tc_ex_rates.log", sep="\t", header=0)
a_bdnn_tem_1_per_species_rates = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/temnospondyli/mcmc_no_predictors/A_bdnn_update/temnospondyli_pyrate_1_A_update_G_BDS_BDNN_4_2Tc_per_species_rates.log", sep="\t", header=0)

a_bdnn_tem_1.shape, a_bdnn_tem_1_sp_rates.shape, a_bdnn_tem_1_ex_rates.shape, a_bdnn_tem_1_per_species_rates.shape

((10000, 612), (9999, 269), (9999, 269), (10000, 557))

In [19]:
a_bdnn_tem_1_sp_rates.head()

,0.699868417722341,0.6998684194736766,0.6998684214834019,0.6998684234931282,0.6998684255028562,0.6998684275125848,0.6998684295223149,0.699868431532046,0.6998684335417787,0.6998684355515122,...,10,9,8,7,6,5,4,3,2,1
0,0.146344,0.146344,0.146345,0.146346,0.146347,0.146348,0.146349,0.146350,0.146351,0.146352,...,10,9,8,7,6,5,4,3,2,1
1,0.132279,0.132350,0.132429,0.132507,0.132584,0.132660,0.132734,0.132806,0.132877,0.132947,...,10,9,8,7,6,5,4,3,2,1
2,0.158456,0.158075,0.157637,0.157196,0.156753,0.156308,0.155861,0.155412,0.154960,0.154507,...,10,9,8,7,6,5,4,3,2,1
3,0.148230,0.148225,0.148219,0.148213,0.148207,0.148200,0.148194,0.148187,0.148181,0.148174,...,10,9,8,7,6,5,4,3,2,1
4,0.151888,0.151887,0.151886,0.151886,0.151885,0.151885,0.151884,0.151884,0.151884,0.151883,...,10,9,8,7,6,5,4,3,2,1

In [20]:
a_bdnn_tem_2_sp_rates = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/temnospondyli/mcmc_no_predictors/A_bdnn_update/temnospondyli_pyrate_2_A_update_G_BDS_BDNN_4_2Tc_sp_rates.log", sep="\t", header=0)
a_bdnn_tem_2_sp_rates.shape

(9999, 269)

In [23]:
c_bdnn_tem_2_minmax_boxcox = pd.read_csv("./temnospondyli/mcmc_fixshift_predictors/C_bdnn_minmax_boxcox/temnospondyli_pyrate_2_C_minmax_boxcox_G_BDS_BDNN_16_8TVc_mcmc.log", sep="\t", header=0)
c_bdnn_tem_2_minmax_boxcox_sp_rates = pd.read_csv("./temnospondyli/mcmc_fixshift_predictors/C_bdnn_minmax_boxcox/temnospondyli_pyrate_2_C_minmax_boxcox_G_BDS_BDNN_16_8TVc_sp_rates.log", sep="\t", header=0)
c_bdnn_tem_2_minmax_boxcox_ex_rates = pd.read_csv("./temnospondyli/mcmc_fixshift_predictors/C_bdnn_minmax_boxcox/temnospondyli_pyrate_2_C_minmax_boxcox_G_BDS_BDNN_16_8TVc_ex_rates.log", sep="\t", header=0)
c_bdnn_tem_2_minmax_boxcox_per_species_rates = pd.read_csv("./temnospondyli/mcmc_fixshift_predictors/C_bdnn_minmax_boxcox/temnospondyli_pyrate_2_C_minmax_boxcox_G_BDS_BDNN_16_8TVc_per_species_rates.log", sep="\t", header=0)
c_bdnn_tem_2_minmax_boxcox.shape, c_bdnn_tem_2_minmax_boxcox_sp_rates.shape, c_bdnn_tem_2_minmax_boxcox_ex_rates.shape, c_bdnn_tem_2_minmax_boxcox_per_species_rates.shape

((10000, 1016), (9999, 25), (9999, 25), (10000, 557))

In [26]:
d_bdnn_syn_1 = pd.read_csv("./synapsida/mcmc_fixshift_no_predictors/D_bdnn/synapsida_pyrate_1_D_G_BDS_BDNN_4_2Tc_mcmc.log", sep="\t", header=0)    
d_bdnn_syn_1_sp_rates = pd.read_csv("./synapsida/mcmc_fixshift_no_predictors/D_bdnn/synapsida_pyrate_1_D_G_BDS_BDNN_4_2Tc_sp_rates.log", sep="\t", header=0)
d_bdnn_syn_1_ex_rates = pd.read_csv("./synapsida/mcmc_fixshift_no_predictors/D_bdnn/synapsida_pyrate_1_D_G_BDS_BDNN_4_2Tc_ex_rates.log", sep="\t", header=0)
d_bdnn_syn_1_per_species_rates = pd.read_csv("./synapsida/mcmc_fixshift_no_predictors/D_bdnn/synapsida_pyrate_1_D_G_BDS_BDNN_4_2Tc_per_species_rates.log", sep="\t", header=0)
d_bdnn_syn_1.shape, d_bdnn_syn_1_sp_rates.shape, d_bdnn_syn_1_ex_rates.shape, d_bdnn_syn_1_per_species_rates.shape

((10000, 1106), (9999, 25), (9999, 25), (10000, 1051))

## Test Concatenation of Old A_bdnn_rep

In [31]:
a_bdnn_rep_4_restored = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_restored_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_mcmc.log", sep="\t", header=0)
a_bdnn_rep_4_sp_rates_restored = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_restored_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_sp_rates.log", sep="\t", header=0)
a_bdnn_rep_4_ex_rates_restored = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_restored_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_ex_rates.log", sep="\t", header=0)
a_bdnn_rep_4_per_species_rates_restored = pd.read_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_restored_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_per_species_rates.log", sep="\t", header=0)

a_bdnn_rep_4_restored.shape, a_bdnn_rep_4_sp_rates_restored.shape, a_bdnn_rep_4_ex_rates_restored.shape, a_bdnn_rep_4_per_species_rates_restored.shape

((784, 1576), (783, 247), (783, 247), (784, 1521))

In [32]:
a_bdnn_rep_4.shape, a_bdnn_rep_4_sp_rates.shape, a_bdnn_rep_4_ex_rates.shape, a_bdnn_rep_4_per_species_rates.shape

((9693, 1576), (9693, 247), (9691, 247), (9694, 1521))

In [37]:
# Concatenating a_bdnn_rep_4_restored to the bottom of a_bdnn_rep_4 until the resulting dataframe is 10000 rows long
a_bdnn_rep_4_concat = pd.concat([a_bdnn_rep_4, a_bdnn_rep_4_restored], axis=0)
a_bdnn_rep_4_sp_rates_concat = pd.concat([a_bdnn_rep_4_sp_rates, a_bdnn_rep_4_sp_rates_restored], axis=0)
a_bdnn_rep_4_ex_rates_concat = pd.concat([a_bdnn_rep_4_ex_rates, a_bdnn_rep_4_ex_rates_restored], axis=0)
a_bdnn_rep_4_per_species_rates_concat = pd.concat([a_bdnn_rep_4_per_species_rates, a_bdnn_rep_4_per_species_rates_restored], axis=0)

# Checking that the concatenated dataframes are the right length
a_bdnn_rep_4_concat.shape[0] == a_bdnn_rep_4.shape[0] + a_bdnn_rep_4_restored.shape[0],
a_bdnn_rep_4_sp_rates_concat.shape[0] == a_bdnn_rep_4_sp_rates.shape[0] + a_bdnn_rep_4_sp_rates_restored.shape[0],
a_bdnn_rep_4_ex_rates_concat.shape[0] == a_bdnn_rep_4_ex_rates.shape[0] + a_bdnn_rep_4_ex_rates_restored.shape[0],
a_bdnn_rep_4_per_species_rates_concat.shape[0] == a_bdnn_rep_4_per_species_rates.shape[0] + a_bdnn_rep_4_per_species_rates_restored.shape[0]

True

In [39]:
# Making each dataframe only 10000 rows long
a_bdnn_rep_4_concat_10k = a_bdnn_rep_4_concat.iloc[0:10000, :]
a_bdnn_rep_4_sp_rates_concat_10k = a_bdnn_rep_4_sp_rates_concat.iloc[0:9999, :]
a_bdnn_rep_4_ex_rates_concat_10k = a_bdnn_rep_4_ex_rates_concat.iloc[0:9999, :]
a_bdnn_rep_4_per_species_rates_concat_10k = a_bdnn_rep_4_per_species_rates_concat.iloc[0:10000, :]

a_bdnn_rep_4_concat_10k.shape, a_bdnn_rep_4_sp_rates_concat_10k.shape, a_bdnn_rep_4_ex_rates_concat_10k.shape, a_bdnn_rep_4_per_species_rates_concat_10k.shape

((10000, 1576), (9999, 362), (9999, 362), (10000, 1521))

In [40]:
# Saving off the concatenated dataframe

a_bdnn_rep_4_concat_10k.to_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_concatenated_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_mcmc_concat.log", sep="\t", index=False)
a_bdnn_rep_4_sp_rates_concat_10k.to_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_concatenated_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_sp_rates_concat.log", sep="\t", index=False)
a_bdnn_rep_4_ex_rates_concat_10k.to_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_concatenated_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_ex_rates_concat.log", sep="\t", index=False)
a_bdnn_rep_4_per_species_rates_concat_10k.to_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_concatenated_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_per_species_rates_concat.log", sep="\t", index=False)

The above did not work, led to line space error. Let's try to figure out why.

Conclusion: the 'it' column of the restored log starts at 0 instead of picking up where the 'it' column of the incomplete original ends. So will have to re-number that.

In [42]:
a_bdnn_rep_4_concat_10k.head()

,it,posterior,prior,PP_lik,BD_lik,q_0,q_1,q_2,q_3,q_4,...,Yelaphomte_TE,Yimenosaurus_TE,Youngetta_TE,Youngina_TE,Youngosuchus_TE,Yunguisaurus_TE,Yunnanosaurus_TE,Zanclodon_TE,Zhongjiania_TE,Zupaysaurus_TE
0,0,-21792.450507,-2072.830274,-11981.405312,-7738.214920,0.370792,0.370792,0.370792,0.370792,0.370792,...,50.507011,24.694278,75.557608,76.458410,71.741797,62.606387,26.098589,27.724163,79.264315,48.459744
1,10000,-16936.108325,-2099.848585,-10398.689248,-4437.570492,0.890772,4.469665,1.083520,1.846385,1.679073,...,50.443396,24.128913,75.547243,76.493654,71.936053,62.592483,25.861068,28.185970,79.734681,48.324362
2,20000,-17122.174815,-2103.699668,-10554.352729,-4464.122418,1.092424,4.698900,1.071070,1.317639,2.464480,...,49.789423,24.619225,75.519925,77.323852,71.638421,61.815999,25.508753,27.605905,79.252009,48.392910
3,30000,-17205.036295,-2102.026680,-10633.429650,-4469.579966,0.554088,4.219277,1.034060,1.454299,1.587875,...,49.384910,24.256725,75.185990,77.322118,71.837601,60.737779,25.977118,27.567133,79.567767,48.476974
4,40000,-17289.416587,-2106.103265,-10701.358721,-4481.954601,0.318058,5.273625,1.014539,1.265484,1.978119,...,49.050608,24.394947,75.506677,76.571148,71.935869,61.388990,26.106446,27.605212,79.100243,48.255963

In [41]:
a_bdnn_rep_4.head()

,it,posterior,prior,PP_lik,BD_lik,q_0,q_1,q_2,q_3,q_4,...,Yelaphomte_TE,Yimenosaurus_TE,Youngetta_TE,Youngina_TE,Youngosuchus_TE,Yunguisaurus_TE,Yunnanosaurus_TE,Zanclodon_TE,Zhongjiania_TE,Zupaysaurus_TE
0,0,-21792.450507,-2072.830274,-11981.405312,-7738.214920,0.370792,0.370792,0.370792,0.370792,0.370792,...,50.507011,24.694278,75.557608,76.458410,71.741797,62.606387,26.098589,27.724163,79.264315,48.459744
1,10000,-16936.108325,-2099.848585,-10398.689248,-4437.570492,0.890772,4.469665,1.083520,1.846385,1.679073,...,50.443396,24.128913,75.547243,76.493654,71.936053,62.592483,25.861068,28.185970,79.734681,48.324362
2,20000,-17122.174815,-2103.699668,-10554.352729,-4464.122418,1.092424,4.698900,1.071070,1.317639,2.464480,...,49.789423,24.619225,75.519925,77.323852,71.638421,61.815999,25.508753,27.605905,79.252009,48.392910
3,30000,-17205.036295,-2102.026680,-10633.429650,-4469.579966,0.554088,4.219277,1.034060,1.454299,1.587875,...,49.384910,24.256725,75.185990,77.322118,71.837601,60.737779,25.977118,27.567133,79.567767,48.476974
4,40000,-17289.416587,-2106.103265,-10701.358721,-4481.954601,0.318058,5.273625,1.014539,1.265484,1.978119,...,49.050608,24.394947,75.506677,76.571148,71.935869,61.388990,26.106446,27.605212,79.100243,48.255963

In [44]:
a_bdnn_rep_4_concat_10k.tail()

,it,posterior,prior,PP_lik,BD_lik,q_0,q_1,q_2,q_3,q_4,...,Yelaphomte_TE,Yimenosaurus_TE,Youngetta_TE,Youngina_TE,Youngosuchus_TE,Yunguisaurus_TE,Yunnanosaurus_TE,Zanclodon_TE,Zhongjiania_TE,Zupaysaurus_TE
302,3020000,-16921.657596,-2212.941708,-10611.681005,-4097.034883,0.497822,4.840625,1.101690,1.257519,1.988408,...,46.698225,24.651535,75.398952,76.907922,71.790567,62.158047,25.963423,27.921939,79.181192,48.172980
303,3030000,-16960.516351,-2216.817361,-10644.479712,-4099.219279,0.969018,5.060727,0.781503,1.004417,2.630988,...,46.015014,24.482343,75.357427,76.745993,71.825180,62.716204,25.656795,29.107711,79.785563,48.426237
304,3040000,-16983.844249,-2218.085881,-10659.956734,-4105.801634,0.599207,5.575509,0.954376,0.801763,2.859823,...,47.259374,24.623445,74.959643,77.127476,71.542132,62.287262,25.793524,28.773126,79.575058,48.162697
305,3050000,-16986.858561,-2216.339671,-10675.683238,-4094.835652,0.662019,5.476546,0.812392,1.378928,1.997288,...,48.464749,24.606232,75.017156,76.828879,71.550434,62.496942,25.950819,29.023242,79.191964,48.110072
306,3060000,-16959.965016,-2216.174969,-10643.028354,-4100.761693,1.071203,5.697540,0.762019,1.222682,2.378555,...,48.264642,24.139749,75.445799,77.311655,71.795531,61.511390,25.485719,28.438259,78.386950,47.930669

In [43]:
a_bdnn_rep_4.tail()

,it,posterior,prior,PP_lik,BD_lik,q_0,q_1,q_2,q_3,q_4,...,Yelaphomte_TE,Yimenosaurus_TE,Youngetta_TE,Youngina_TE,Youngosuchus_TE,Yunguisaurus_TE,Yunnanosaurus_TE,Zanclodon_TE,Zhongjiania_TE,Zupaysaurus_TE
9688,96880000,-16873.011765,-2204.183720,-10580.050164,-4088.777881,1.403068,5.499521,0.726976,1.492345,2.353923,...,50.007267,23.230115,75.504779,77.174034,71.114935,62.633373,25.332952,23.671876,79.775330,48.376042
9689,96890000,-16923.965870,-2205.168260,-10624.878495,-4093.919115,0.838532,5.544774,0.916111,0.866180,2.372705,...,49.836838,23.960823,75.504779,77.357398,71.757191,62.589716,25.919015,23.172924,79.393372,48.067383
9690,96900000,-16903.916517,-2209.302685,-10592.022443,-4102.591388,0.493189,5.917071,0.825036,1.124559,2.487070,...,49.244318,24.234575,75.359005,77.109246,71.850470,62.753121,25.161297,21.729372,79.520647,47.804225
9691,96910000,-16941.607216,-2208.858851,-10632.982869,-4099.765496,0.648000,5.068972,0.677283,1.000264,3.057662,...,48.471248,24.555236,75.401007,77.267084,71.921217,62.727861,25.680959,22.314353,79.489684,47.250885
9692,96920000,-16910.533269,-2208.742446,-10611.096431,-4090.694392,0.472960,5.242285,0.601698,1.227396,2.586450,...,49.190452,24.493400,75.320662,76.984644,71.807257,61.955532,26.076348,21.764681,79.791650,47.425473

In [46]:
# Concatenating a_bdnn_rep_4_restored to the bottom of a_bdnn_rep_4 until the resulting dataframe is 10000 rows long
# Renumbering the 'it' column of a_bdnn_rep_4_restored to start at the end of a_bdnn_rep_4's 'it' column
a_bdnn_rep_4_concat_TEST = pd.concat([a_bdnn_rep_4, a_bdnn_rep_4_restored], axis=0)
a_bdnn_rep_4_concat_TEST_10k = a_bdnn_rep_4_concat_TEST.iloc[0:10000, :]
a_bdnn_rep_4_concat_TEST_10k['it'] = np.arange(0, a_bdnn_rep_4_concat_TEST_10k.shape[0] * 10000, 10000)
a_bdnn_rep_4_concat_TEST_10k.tail()

# a_bdnn_rep_4_concat_TEST = pd.concat([a_bdnn_rep_4, a_bdnn_rep_4_restored], axis=0)
# a_bdnn_rep_4_concat_10k_TEST = a_bdnn_rep_4_concat.iloc[0:10000, :]

C:\Users\SimoesLabAdmin\AppData\Local\Temp\ipykernel_24176\690849324.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a_bdnn_rep_4_concat_TEST_10k['it'] = np.arange(0, a_bdnn_rep_4_concat_TEST_10k.shape[0] * 10000, 10000)

,it,posterior,prior,PP_lik,BD_lik,q_0,q_1,q_2,q_3,q_4,...,Yelaphomte_TE,Yimenosaurus_TE,Youngetta_TE,Youngina_TE,Youngosuchus_TE,Yunguisaurus_TE,Yunnanosaurus_TE,Zanclodon_TE,Zhongjiania_TE,Zupaysaurus_TE
302,99950000,-16921.657596,-2212.941708,-10611.681005,-4097.034883,0.497822,4.840625,1.101690,1.257519,1.988408,...,46.698225,24.651535,75.398952,76.907922,71.790567,62.158047,25.963423,27.921939,79.181192,48.172980
303,99960000,-16960.516351,-2216.817361,-10644.479712,-4099.219279,0.969018,5.060727,0.781503,1.004417,2.630988,...,46.015014,24.482343,75.357427,76.745993,71.825180,62.716204,25.656795,29.107711,79.785563,48.426237
304,99970000,-16983.844249,-2218.085881,-10659.956734,-4105.801634,0.599207,5.575509,0.954376,0.801763,2.859823,...,47.259374,24.623445,74.959643,77.127476,71.542132,62.287262,25.793524,28.773126,79.575058,48.162697
305,99980000,-16986.858561,-2216.339671,-10675.683238,-4094.835652,0.662019,5.476546,0.812392,1.378928,1.997288,...,48.464749,24.606232,75.017156,76.828879,71.550434,62.496942,25.950819,29.023242,79.191964,48.110072
306,99990000,-16959.965016,-2216.174969,-10643.028354,-4100.761693,1.071203,5.697540,0.762019,1.222682,2.378555,...,48.264642,24.139749,75.445799,77.311655,71.795531,61.511390,25.485719,28.438259,78.386950,47.930669

In [47]:
a_bdnn_rep_4_concat_TEST_10k.to_csv("C:/Users/SimoesLabAdmin/Documents/BDNN_Arielli/reptilia/mcmc_no_predictors/A_bdnn/A_bdnn_concatenated_logs/reptilia_pyrate_4_A_G_BDS_BDNN_4_2Tc_mcmc_concat_TEST.log", sep="\t", index=False)

In [48]:
# Compare to a complete mcmc log to make sure the 'it' column is correct
a_bdnn_tem_1.tail()

,it,posterior,prior,PP_lik,BD_lik,q_0,q_1,q_2,q_3,q_4,...,Watsonisuchus_Antarctic_TE,Watsonisuchus_Temperate_S_TE,Wellesaurus_TE,Wetlugasaurus_TE,Xenobrachyops_TE,Xenotosuchus_TE,Yarengia_TE,Yuanansuchus_TE,Zatrachys_TE,Zygosaurus_TE
9995,99950000,-9888.607243,-2332.007269,-5895.517826,-1661.082149,7.678395,2.178331,1.151020,0.301625,0.396735,...,73.822584,72.187940,72.350408,72.162358,76.416260,66.340428,71.120738,68.522670,103.438891,88.614647
9996,99960000,-9860.394410,-2334.700982,-5864.541121,-1661.152307,8.259268,2.402046,1.683230,0.415987,0.584225,...,74.377345,73.099666,71.761588,72.302592,76.349113,67.074361,70.940757,67.494991,102.821858,86.323150
9997,99970000,-9877.758572,-2331.727786,-5876.911711,-1669.119076,7.946897,2.396659,1.431586,0.352037,0.453839,...,74.000801,72.534754,70.965357,72.192118,76.427298,65.319626,72.094847,67.832615,102.401496,86.417578
9998,99980000,-9894.315023,-2331.766373,-5892.731793,-1669.816856,7.199144,2.329524,1.343906,0.314652,0.307420,...,74.612472,73.111750,70.667992,72.311783,76.430729,66.663474,70.613733,68.739662,102.740552,85.551134
9999,99990000,-9924.795594,-2334.312907,-5923.961694,-1666.520993,7.130627,2.558124,1.484601,0.294063,0.393100,...,72.529533,72.897259,71.252363,70.568735,76.434458,66.911609,71.617010,68.739665,102.595936,86.463639

In [49]:
c_bdnn_tem_2_minmax_boxcox.tail()

,it,posterior,prior,PP_lik,BD_lik,q_0,q_1,q_2,q_3,q_4,...,Watsonisuchus_Antarctic_TE,Watsonisuchus_Temperate_S_TE,Wellesaurus_TE,Wetlugasaurus_TE,Xenobrachyops_TE,Xenotosuchus_TE,Yarengia_TE,Yuanansuchus_TE,Zatrachys_TE,Zygosaurus_TE
9995,99950000,-8037.830206,-823.403346,-5824.489212,-1389.937647,7.619389,2.426511,1.576404,0.322179,0.229892,...,76.345632,72.052681,72.490416,71.900733,76.526344,66.734478,67.613210,69.116827,97.618003,81.039364
9996,99960000,-8093.938365,-822.077557,-5863.828262,-1408.032546,7.434710,1.906747,1.394825,0.304986,0.318550,...,76.448543,72.356251,72.877102,72.097531,76.448884,65.592928,67.911986,69.088728,101.397014,81.590997
9997,99970000,-8107.008449,-812.049781,-5895.911198,-1399.047470,7.304078,1.859900,1.499098,0.290279,0.318667,...,76.447732,72.326662,72.852349,71.848244,76.494068,67.278240,68.654658,68.505431,102.226540,82.794209
9998,99980000,-8073.436051,-808.507582,-5863.909090,-1401.019379,8.169915,2.126098,1.517327,0.203840,0.248170,...,76.237694,72.275001,72.633568,71.377391,76.450761,66.992739,67.502553,69.018377,101.251423,81.040073
9999,99990000,-8042.678457,-808.327720,-5849.784051,-1384.566686,7.684239,2.230272,1.525918,0.305262,0.248190,...,76.355549,72.276166,71.236717,71.517060,76.516646,66.782961,68.462421,68.377881,101.571125,81.317431

## Making a Function

In [ ]:
# Read in an incomplete log file
# Read in a restored log file
# Concatenate the two log files
# Check that the concatenated log file is the right length 
# by comparing its shape[0] with the sum of the shape[0]'s of the original and restored log files to the concatenated log file
# Cutting the concatenated log file to 10000 rows
# Check that the 'it' column is correct by renumbering from 0 with step sizes of 10000
# Check that the last value in the 'it' column is 99990000
# Return the resulting dataframe only if all the checks are correct
# return an error message if any of the checks are incorrect, specifying which check was failed
# Save the resulting dataframe as a log file

def concatenate_logs(original_log, restored_log, output_log):
    original = pd.read_csv(original_log, sep="\t", header=0)
    restored = pd.read_csv(restored_log, sep="\t", header=0)
    concatenated = pd.concat([original, restored], axis=0)
    if concatenated.shape[0] == original.shape[0] + restored.shape[0]:
        concatenated_10k = concatenated.iloc[0:10000, :]
        if concatenated_10k['it'].iloc[-1] == 99990000:
            concatenated_10k['it'] = np.arange(0, concatenated_10k.shape[0] * 10000, 10000)
            concatenated_10k.to_csv(output_log, sep="\t", index=False)
            return concatenated_10k
        else:
            return "The 'it' column is incorrect"
    else:
        return "The concatenated log file is the wrong length"